body
{
  font-family: sans-serif;  
  font-size:16px;
  line-height:1.6em;
  padding:0;
  margin:0;
}
header
{
 position:relative;
 text-align: left;
 height:60px;
}

#logo
{   position:absolute;
    margin-left:8px;
	margin-top:8px;
	height:40px;
	width:40px;
}

#sitenav
{ position:absolute;
  top: 0; right: 0;
  width:100%;
  border-bottom: 2px solid #f4f4f4
}

#sitenav ol
{ font-size: 90%;
  text-align: center; 
  padding: 0; margin: 0;
  display: inline;
} 

#sitenav li 
{ display: inline; 
  margin-left: 1em;
  padding-left: 1em;
 /* border-left: 1px solid #DD0; */
 }

#sitenav li a:link, #sitenav li a:visited
{ color:#000; 
text-decoration: none;
}

#sitenav li a:hover
{ color: #444769; }

#coursesBar
{ background-color: #ffff99; /* #ffe680; /* #FFCC00;  /* yellow */
  width:50%;
  position: relative;
  border-radius:20px;
   margin-top:30px;
   margin-left:30px;
 padding: 1em 1em 1em 1em; /* top-right-bottom-left */
 float:left;
 min-height:200px;
}

#coursesBar h1
{
  margin: 10px 0px;
}

#coursesBar p
{
  margin:0;
  padding: 0;
  color: #696969;
}

.container2
{  
padding: 1em 12em;
 overflow:hidden;
}

#logo2
{   position:absolute;
    margin-left:40px;
	margin-top:60px;
	height:100px;
	width:90px;
}
#progressBar
{
 margin-top: -40px;
}
.btn-home
{ margin-top:10px;
  width: 150px;
  padding: 10px 10px;
  cursor: pointer;
  display:block;
  background: #444769;
  border: 0px;
  outline: none; /*изпъкналост */
  border-radius:10px;
  color: white;
  font-size:100%;
}

#profileBar
{ min-height:235px;
 position: relative;
 float:right;
 width:40%;
 padding:10px;
 box-sizing:border-box;
 background-color:#ffe680; 
 border-radius:20px;
 margin-top:30px;
 margin-right:30px;
 padding: 1em 1em 1em 1em; /* top-right-bottom-left */
}

#logo3
{   position:absolute;
    margin-left:40px;
	margin-top:10px;
	height:100px;
	width:90px;
}

#profileBar button
{ position:absolute;
  margin-left:10px;
  margin-top:140px;
  width: 150px;
  padding: 10px 10px;
  cursor: pointer;
  display:block;
  background: #444769;
  border: 0px;
  outline: none; /*изпъкналост */
  border-radius:10px;
  color: white;
  font-size:100%;
}
.containerProfile
{  
padding: 1em 12em;
 overflow:hidden;
}

#profileBar p
{
  margin:0;
  padding: 0;
  color: #696969;
}
#profileBar a
{
  margin:0;
  padding: 0;
  color: #696969;
  text-decoration:none;
}

#newsletter
{
 background-color:#e6f9ff; /* #ffe680; /* #FFCC00;  /* yellow */
  width:94%;
  position: relative;
  border-radius:20px;
   margin-top:30px;
   margin-left:30px;
 padding: 1em 1em 1em 1em; /* top-right-bottom-left */
 float:left;
 min-height:200px;
}

#newsletter p
{
  background-color:#80dfff;
  color: #696969;
  border-radius:20px;
  margin-right:40px;
  float:left;
  min-height:100px;
  max-width:150px;
  padding: 1em 1em 1em 1em;
  overflow:hidden;
}

#goals
{
  background: linear-gradient(to right,  #ffad06,#ff105f);
  color: white;
  width:94%;
  position: relative;
  border-radius:20px;
  margin-top:30px;
  margin-left:30px;
 padding: 1em 1em 1em 1em; /* top-right-bottom-left */
 float:left;
 min-height:200px;
 margin-bottom:30px;
}

.goalBox
{
  background-color:white;
  color: #696969;
  border-radius:20px;
  margin-right:40px;
  float:left;
  min-height:100px;
  max-width:150px;
  padding: 1em 1em 1em 1em;
  overflow:hidden;
}